node_modules
npm-debug*
/build
/dist
/dist/main
/dist/renderer
/dist/worker
/coverage
/index.html
/.cache-loader
/.swp
/.DS_Store
**/.DS_Store
/package
/package-lock.json
/yarn-error.log
/*.db
/ossutil_output
/.ossutil_checkpoint
/unasar
/changelog/qa1
/changelog/alpha
/.idea